html,body {
    font-size: 16px;
    font-family:'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}


footer {
    color: 100vw;
    padding: 10px;
    color: #aaa;
    background: #555;
    text-align:  center;
}

a, a:link {
    color:black;
}
a:hover {
    color:orange;
}

footer span {
    font-weight: 900;
}